Connected Services/ServidorElSaber/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1442/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" />
  <xs:element name="RegistrarUsuarioAlaBaseDeDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="usuario" nillable="true" type="q1:UsuarioBinding" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="direccion" nillable="true" type="q2:DireccionBinding" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="acceso" nillable="true" type="q3:AccesoBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuarioAlaBaseDeDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarUsuarioAlaBaseDeDatosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarExistenciaDeUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefonp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarExistenciaDeUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarExistenciaDeUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CorreoDeRestablecimientoDeContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CorreoDeRestablecimientoDeContraseniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CorreoDeRestablecimientoDeContraseniaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestablecimientoDeContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestablecimientoDeContraseniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestablecimientoDeContraseniaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCodigoDeVerificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCodigoDeVerificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarCodigoDeVerificacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCredenciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCredencialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarCredencialesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCorreoExistente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCorreoExistenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarCorreoExistenteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarContraseniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarContraseniaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="direccion" nillable="true" type="q4:DireccionBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarDireccionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarSocioEnBaseDeDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="socio" nillable="true" type="q5:SocioBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarSocioEnBaseDeDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarSocioEnBaseDeDatosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarExistenciaDeSocioEnBaseDeDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarExistenciaDeSocioEnBaseDeDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarExistenciaDeSocioEnBaseDeDatosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSociosPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSociosPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="ConsultarSociosPorNombreResult" nillable="true" type="q6:ArrayOfSocioBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSocioPorNumeroDeSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroDeSocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSocioPorNumeroDeSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="ConsultarSocioPorNumeroDeSocioResult" nillable="true" type="q7:SocioBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevaDevolucion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="devolucion" nillable="true" type="q8:DevolucionBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevaDevolucionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarNuevaDevolucionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIdLibroPorISBN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIdLibroPorISBNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerIdLibroPorISBNResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarExistenciaDeLibros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarExistenciaDeLibrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarExistenciaDeLibrosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoLibro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="libro" nillable="true" type="q9:LibroBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoLibroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarNuevoLibroResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AumentarCantidadLibrosDisponiblesPorISBN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AumentarCantidadLibrosDisponiblesPorISBNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AumentarCantidadLibrosDisponiblesPorISBNResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibrosPorTitulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibrosPorTituloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="ObtenerLibrosPorTituloResult" nillable="true" type="q10:ArrayOfLibroBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibrosPorISBN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibrosPorISBNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="ObtenerLibrosPorISBNResult" nillable="true" type="q11:ArrayOfLibroBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibrosPorIdAutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAutor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibrosPorIdAutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="ObtenerLibrosPorIdAutorResult" nillable="true" type="q12:ArrayOfLibroBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibrosPorIdGenero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGenero" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibrosPorIdGeneroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="ObtenerLibrosPorIdGeneroResult" nillable="true" type="q13:ArrayOfLibroBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaDeGeneros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaDeGenerosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="ObtenerListaDeGenerosResult" nillable="true" type="q14:ArrayOfGeneroBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaDeAutores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaDeAutoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="ObtenerListaDeAutoresResult" nillable="true" type="q15:ArrayOfAutorBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEditoriales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEditorialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="ObtenerEditorialesResult" nillable="true" type="q16:ArrayOfEditorialBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoAutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoAutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarNuevoAutorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevaEditorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editorial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevaEditorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarNuevaEditorialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoPrestamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="prestamo" nillable="true" type="q17:PrestamoBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoPrestamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarNuevoPrestamoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPrestamosActivosYVencidosPorNumeroSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroSocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPrestamosActivosYVencidosPorNumeroSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" minOccurs="0" name="ObtenerPrestamosActivosYVencidosPorNumeroSocioResult" nillable="true" type="q18:ArrayOfPrestamoBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>