Connected Services/ServidorElSaber/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="tns:DireccionBinding" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioBinding" nillable="true" type="tns:UsuarioBinding" />
  <xs:complexType name="DireccionBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdDireccion" type="xs:int" />
      <xs:element minOccurs="0" name="calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DireccionBinding" nillable="true" type="tns:DireccionBinding" />
  <xs:complexType name="AccesoBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdAcceso" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="tns:UsuarioBinding" />
      <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDeUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccesoBinding" nillable="true" type="tns:AccesoBinding" />
  <xs:complexType name="SocioBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" nillable="true" type="tns:DireccionBinding" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDeInscripcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaDeNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDeSocio" type="xs:int" />
      <xs:element minOccurs="0" name="primerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocioBinding" nillable="true" type="tns:SocioBinding" />
  <xs:complexType name="ArrayOfSocioBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocioBinding" nillable="true" type="tns:SocioBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocioBinding" nillable="true" type="tns:ArrayOfSocioBinding" />
  <xs:complexType name="DevolucionBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoLibro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FK_IdPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="FechaDevolucion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDevolucion" type="xs:int" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DevolucionBinding" nillable="true" type="tns:DevolucionBinding" />
  <xs:complexType name="LibroBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnioDePublicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CantidadEjemplares" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadEjemplaresPrestados" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Isbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDePaginas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaPortada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="autor" nillable="true" type="tns:AutorBinding" />
      <xs:element minOccurs="0" name="editorial" nillable="true" type="tns:EditorialBinding" />
      <xs:element minOccurs="0" name="genero" nillable="true" type="tns:GeneroBinding" />
      <xs:element minOccurs="0" name="idLibro" type="xs:int" />
      <xs:element minOccurs="0" name="imagenLibro" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LibroBinding" nillable="true" type="tns:LibroBinding" />
  <xs:complexType name="AutorBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAutor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutorBinding" nillable="true" type="tns:AutorBinding" />
  <xs:complexType name="EditorialBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="Editorial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEditorial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditorialBinding" nillable="true" type="tns:EditorialBinding" />
  <xs:complexType name="GeneroBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGenero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneroBinding" nillable="true" type="tns:GeneroBinding" />
  <xs:complexType name="ArrayOfLibroBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LibroBinding" nillable="true" type="tns:LibroBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibroBinding" nillable="true" type="tns:ArrayOfLibroBinding" />
  <xs:complexType name="ArrayOfGeneroBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeneroBinding" nillable="true" type="tns:GeneroBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeneroBinding" nillable="true" type="tns:ArrayOfGeneroBinding" />
  <xs:complexType name="ArrayOfAutorBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutorBinding" nillable="true" type="tns:AutorBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutorBinding" nillable="true" type="tns:ArrayOfAutorBinding" />
  <xs:complexType name="ArrayOfEditorialBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EditorialBinding" nillable="true" type="tns:EditorialBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEditorialBinding" nillable="true" type="tns:ArrayOfEditorialBinding" />
  <xs:complexType name="PrestamoBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FK_IdLibro" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IdSocio" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="FechaDevolucionEsperada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaPrestamo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPrestamo" type="xs:int" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrestamoBinding" nillable="true" type="tns:PrestamoBinding" />
  <xs:complexType name="ArrayOfPrestamoBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrestamoBinding" nillable="true" type="tns:PrestamoBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrestamoBinding" nillable="true" type="tns:ArrayOfPrestamoBinding" />
</xs:schema>