Connected Services/ServidorElSaber/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ElSaberServices.Contratos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="tns:DireccionBinding" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioBinding" nillable="true" type="tns:UsuarioBinding" />
  <xs:complexType name="DireccionBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdDireccion" type="xs:int" />
      <xs:element minOccurs="0" name="calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DireccionBinding" nillable="true" type="tns:DireccionBinding" />
  <xs:complexType name="AccesoBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdAcceso" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="tns:UsuarioBinding" />
      <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDeUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccesoBinding" nillable="true" type="tns:AccesoBinding" />
  <xs:complexType name="SocioBinding">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" nillable="true" type="tns:DireccionBinding" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDeInscripcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDeSocio" type="xs:int" />
      <xs:element minOccurs="0" name="primerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocioBinding" nillable="true" type="tns:SocioBinding" />
  <xs:complexType name="ArrayOfSocioBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocioBinding" nillable="true" type="tns:SocioBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocioBinding" nillable="true" type="tns:ArrayOfSocioBinding" />
</xs:schema>